/* .btn {
    height: 35px;
    line-height: 35px;  
    width: 35px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
  } */