.btn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
  }
.btn:hover {
    background-color: rgb(0, 102, 0);
  }
  
.fixedbutton{
  position: fixed;
  bottom: 15px;
  right: 15px; 
}
.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}
.search-books-results {
  padding: 80px 10px 20px;
}

body{
  margin:0px;
  background-color:darkgray ;
} 
.form{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px; 
}
.form>.form-area{
  height:400px;
  width:600px;
  outline: none;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.form>.form-area>.form-group{
  padding:25px;
  display:grid;
  grid-template-columns: 1fr 3fr;
}
.form input{
  font-size: 1.25rem;
  font-family: inherit;
  background-color: darkgray;
  color:inherit;
  border-radius:2px;
  border:none;
  border-bottom: 2px solid #11122b;
  width:100% ;
  display: block;
  transition: all 0.3s;
}

.form input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #cea135;
}
.centered-btn-wrapper{
  margin-top: 10px;
  display:flex;
  justify-content: center;
}
.form-btn{
  background-color: #cea135;
  color:#11122b;
  font-size: 1.25em;
  padding: 10px 25px;
  border: 1px solid #cea135;
  border-radius: 2px;
  outline: none;
  transition: 0.3s;
  margin-right: 10px;
}

.form-btn:active{
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
